<!DOCTYPE html>
<html>
<head>
    <title>Dot Game</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="app-root">
    <div class="controls">
      <div class="score"><span>Score: </span><span id="score"></span></div>
      <div class="slider">
        <input id="speed" type="range" min="10" max="100" value="25" />
        <div class="speed-label"><span>Speed: </span><span id="speedLabel"></span></div>
      </div>
    </div>
    <div id="dotContainer"></div>
  </div>
  <script src="/helper.js"></script>
  <script src="/index.js"></script>
</body>
</html>
